body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .title {
    flex: 1; 
  }


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h1 {
    font-size: 36px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.status {
    margin-top: 20px;
    font-size: 24px;
}

.player-left {
    float: left;
    color: rgb(255, 255, 255);
    margin-right: 25px;
    font-size: large;
  }
  
  .player-right {
    float: right;
    color: rgb(126, 126, 126);
    margin-left: 25px;
    font-size: large;
  }

.restart {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.restart:hover {
    background-color: #0056b3;
}



.settings {

    font-size: 30px;
    padding: 0px 14px;
    background-color: transparent;
    border-radius: 6px;
    color: #dddddd;
    outline: 1px solid #141414;
    border-width: 0;
  }
  
  .settings:hover {
    background-color: 333;
    color: #ffffff;
    outline: 1px solid #9e9e9e;
    transition: all 0.2s;
    cursor: pointer;
  }
  